# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environments
.venv/
venv/
env/

# Large files (models, datasets, outputs)
*.npy
*.pkl
*.h5
*.csv
*.xlsx
*.jpg
*.jpeg
*.png
*.mp4
*.zip
*.rar
data/
models/
notebooks/
