{% extends 'base.html' %}
{% block title %}About – AI Farming{% endblock %}
{% block content %}
 <section class="hero"
     style="background-image: url('{{ url_for('static', filename='images/bg_2.jpg') }}')">

    <h1>About Us</h1>
    <p><p><strong>Welcome to AI Farming – where technology meets tradition.</strong></p>

    <p>
      We developed a agriculture platform dedicated to empowering farmers through artificial intelligence and data-driven tools. Our mission is to bring innovation to the fields by providing smart solutions that make farming easier, more efficient, and more profitable.
    </p>

    <p>Our platform offers:</p>
    <ul>
      <li>🌾 <strong>Crop Recommendation</strong> based on soil nutrients and climate</li>
      <li>🧪 <strong>Fertilizer Suggestions</strong> tailored to your field</li>
      <li>🌿 <strong>Plant Disease Detection</strong> through image-based AI</li>
      <li>📊 <strong>Market Price Dashboards</strong> to help you sell at the right time</li>
    </ul>

    <p>
      We believe that the future of agriculture lies in the smart use of data and automation. With our user-friendly web platform, even small-scale farmers can benefit from the power of AI.
    </p>

    <p>
      Whether you're a grower, researcher, or student, AI Farming is built to guide and grow with</p>
  </section>
{% endblock %}
